
### Binar files ###
**/obj
webserver
webserver.a
unit_test/unit_test

### Binar files ###
**/logs

### IDEA directory/files ###
.vscode
.idea
webserver.dSYM
CMakeLists.txt
cmake-build-debug

### Apple files ###
.DS_Store

### Test files ###
unit_test/test_files/forResponseDelete/**
response.conf